$primaryColor: #2F2F2F;
$textLightColor: #555555;

$neutralLight: #EAEAEA;
$neutralPrimary: #D6D5D5;

$confidentLight: #E5F2E0;
$confidentPrimary: #C8E9BA;

$unsureLight: #F1DEDE;
$unsurePrimary: #F5CCCC;

$indifferentLight: #F6EED3;
$indifferentPrimary: #FEEAA2;

$titleFont: 'Acme', sans-serif;
$bodyFont: 'Muli', sans-serif;
