// Main.css
@import 'variables';

// Global styles

html {}

body {
    font-family: $bodyFont;
    color: $primaryColor;
}


#app-container {
    height: 100vh;
    width: 100%;
}


.full-width {
    width: 100%;
}

.classifier-view {
    .heading {
        padding: 7px 0;
        box-sizing: border-box;
        h1 {
            font-family: $titleFont;
            text-align: center;
            font-size: 2.2em;
            margin: 0;
            margin-bottom: 7px;
            // margin-top: 7px;
        }
        h2 {
            font-weight: 500;
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
        }
    }
    padding: 12px;
}
